body{
  width:100%;
  margin:20px;
  font-family: "Open Sans", sans-serif;
}

.div1{
   padding: 10px;
   
  }
  
  .div2{ 
    padding: 10px;
    border-bottom:solid 2px white;
    padding-bottom:20px ;
    justify-items: flex-end;
    
    
  }
  
  .row{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.848);
    margin-top :20px;
    padding-top: 10px;
    border-radius: 15px;
  }
  
  .meta{
  border-top: solid 1px black;
}

.mainHeader{
  text-align: center;
}
